name: Pylint Check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    name: Run Pylint
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |
          - name: Install Poetry
            run: pipx install poetry
          
          - name: Install dependencies
            run: poetry install

      - name: Run Pylint
        run: |
          pylint src
